[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pretty-midi = "*"
numpy = "*"
tensorflow = "*"


[dev-packages]

pylint = "*"
mkdocs = "*"
jupyter = "*"


[requires]

python_version = "3.6"
